@using EcommerceProject.Models.Mapping;
@{
    //Load file Layout.cshtml
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";

}
@{
     List<ItemCategory> listCate = ViewBag.listCategories;
       
}
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">Add edit category</div>
        <div class="panel-body">
            <form method="post" action="@ViewBag.action">

                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-10">
                        <input type="text" value="@if(Model != null){
                        <text>@Model.Name</text>
}" name="name" class="form-control" required>

              
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Parent</div>
                    <div class="col-md-10">
                        <select name="parent_id" class="form-control" style="width:300px;">
                            
                            @foreach(var item in listCate)
                            {
                                <option value="@item.Id"  @if(Model != null && Model.Id == item.Id)
                                {
                                    <text>selected</text>
                                }
                                >@item.Name</option>
                            }

                          
                        </select>

                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">displayHomePage</div>
                    <div class="col-md-10">
                        <input type="checkbox" name="displayHomePage" id="displayHomePage" @if (Model != null && Model.DisplayHomePage == 1)
                        {
                            <text>checked</text>
                        }> <label for="displayHomePage">displayHomePage</label>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <input type="submit" value="Process" class="btn btn-primary">
                    </div>
                </div>
                <!-- end rows -->
            </form>
        </div>
    </div>
</div>