<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
</head>
<body>
    <h1>Đăng nhập</h1>

    <form method="post" action="/Admin/Account/LoginPostAdmin">
        <label for="username">Tên người dùng:</label>
        <input type="text" id="username" name="Username" required>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="Password" required>
        <label for="Email">Email:</label>
        <input id="Email" name="Email" required>
        <input type="checkbox" name="RememberMe"  />
        <input type="submit" value="Đăng nhập">
    </form>
   

</body>
</html>
